
*.xml
.idea/face_distinguish.iml
.idea/workspace.xml
.idea/face_distinguish.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
*.pyc
face_distinguish/__pycache__/settings.cpython-37.pyc
face_distinguish/__pycache__/urls.cpython-37.pyc
User/__pycache__/models.cpython-37.pyc
face_distinguish/__pycache__/settings.cpython-37.pyc
face_distinguish/__pycache__/settings.cpython-37.pyc
face_distinguish/__pycache__/settings.cpython-37.pyc
face_distinguish/__pycache__/urls.cpython-37.pyc
face_distinguish/__pycache__/urls.cpython-37.pyc
face_distinguish/__pycache__/urls.cpython-37.pyc
face_distinguish/__pycache__/settings.cpython-37.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/urls.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/urls.cpython-35.pyc
face_distinguish/__pycache__/views.cpython-35.pyc
family/__pycache__/views.cpython-35.pyc
templates/user/index.html
templates/user/index.html
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/settings.cpython-35.pyc
face_distinguish/__pycache__/urls.cpython-35.pyc
face_distinguish/__pycache__/views.cpython-35.pyc
family/__pycache__/views.cpython-35.pyc
family/__pycache__/views.cpython-35.pyc
