.block_home_slider {position: relative; text-align: center;}
.block_home_slider .slide {position: relative;}
.block_home_slider .flex-direction-nav a {width: 25px;height: 25px;margin-top: -10px;display: block;position: absolute;top: 50%;background-repeat: no-repeat;background-image: url(../images/sprite_arrow_2.png);text-indent: -9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left: 6px;background-position: left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position: left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right: 6px;	background-position: right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position: right bottom;}
.block_home_slider .flex-control-paging { width:100%; position:absolute;bottom:5px;}
.block_home_slider .flex-control-paging li { display:inline-block; margin:0 2px;}
.block_home_slider .flex-control-paging li a { width: 12px;height: 12px;display: block;background-repeat: no-repeat;background-image: url(../images/sprite_nav_3.png);cursor: pointer; text-indent: -9000px;overflow:hidden;}
.block_home_slider .flex-control-paging li a.flex-active {background-position: right top;}
.block_home_post_feature {width: 300px;}
.block_home_post_feature p {padding-bottom: 0px;}
.flexslider {margin: 0;	padding: 0;}
.flexslider .slides>li {display: none;-webkit-backface-visibility: hidden;list-style-type: none;}
.flexslider .slides img {width: 100%;display: block;}
.flex-pauseplay span {text-transform: capitalize;}
