<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>smart</title>
    <link href="/static/css/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/style2.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/swipe.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="/static/css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/index.main.js"></script>
</head>
<body>
<div id="header" class="clearfix">
    <div class="head_box">
        <div class="arrow"><img src="/static/images/arrow.png"></div>
        <div class="logo"><img src="/static/images/c_logo.png"></div>
        <nav id="nav">
            <ul>
                <li class="first"><a href="/home">首页</a></li>
                <li><a href="/warning">警报界面</a></li>
                <li><a href="/family">家庭成员</a></li>
                <li><a href="/handle">操作界面</a></li>
            </ul>
        </nav>
        <ul class="head_link">
            {% if request.session.is_login %}
                <li>{{ request.user }}</li>
                <li class="first"><a href="{% url 'user_logout' %}">注销</a></li>
            {% else %}
                <li class="first"><a href="{% url 'login' %}">登录</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="block_home_slider">
    <div id="home_slider" class="flexslider">
        <div class="flex-viewport">
            <ul class="slides">
                <li>
                    <div class="slide"><img src="/static/images/banner1.jpg" alt=""></div>
                </li>
                <li>
                    <div class="slide"><img src="/static/images/banner2.jpg" alt=""></div>
                </li>
                <li>
                    <div class="slide"><img src="/static/images/banner3.jpg" alt=""></div>
                </li>
                <li>
                    <div class="slide"><img src="/static/images/banner4.jpg" alt=""></div>
                </li>
            </ul>
        </div>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="#">Previous</a></li>
            <li><a class="flex-next" href="#">Next</a></li>
        </ul>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#home_slider').flexslider({
                animation: 'slide',
                controlNav: true,
                directionNav: true,
                animationLoop: true,
                slideshow: false,
                useCSS: false
            });

        });
    </script>
</div>
<div id="content" class="clearfix">
    <ul class="list">
        <li><a href="#">
            <video width="800" autoplay="autoplay" controls="controls">
                <source src="/static/images/movie.mp4" type="video/mp4">
            </video>
            <span>666<br>
      自定义</span></a></li>
        <li><a href="#">
            <video width="800" autoplay="autoplay" controls="controls">
                <source src="/static/images/movie.mp4" type="video/mp4">
            </video>
            <span>666<br>
      自定义</span></a></li>
        <li><a href="#">
            <video width="800" autoplay="autoplay" controls="controls">
                <source src="/static/images/movie.mp4" type="video/mp4">
            </video>
            <span>666<br>
      自定义</span></a></li>
        <li><a href="#">
            <video width="800" autoplay="autoplay" controls="controls">
                <source src="/static/images/movie.mp4" type="video/mp4">
            </video>
            <span>666<br>
      自定义</span></a></li>
    </ul>
</div>

<script src="/static/css/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>